*{ }
body{
	font-family:arial;
	color:#141313;
	font-size:16px;
}
.container{
	width:1170px;
	margin:0 auto;
}
/*Header Area*/
.header {
  background: #A56767;
  height: 220px;
}
.icon{
	float:left;
	width:50%;
}
.logo{
	float:left;
}
.logo img {
	height: 170px;
	width: 150px;
  margin: 15px;
  border-radius: 100%;

}


.details {
  float: left;
  position: relative;
  top: 80px;
  left: 10px;
}
.details h2 {
  display: inline;
}
.details p{}
.email {
	float: right;
	
	margin-right: 20px;
}
.email p{}
/*Profile Area*/
.Profile{
	clear:both;
}
.perpro {
  float: left;
  width: 35%;
}
.perpro h1{}
.perde {
  float: left;
  width: 65%;
}
.perde p{}
.perde h2{}
.perde h4{}
.perde h5{}
.form{}